:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.app-button {
  padding: 10px;
  background-color: #007fff;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  transition: background-color 0.3s;
}

.app-button:hover {
  cursor: pointer;
  background-color: #0061c2;
}
